@font-face {
  font-family: "DialogNanumBody1984";
  src: url("/fonts/1984-body-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0100-024F, U+1100-11FF, U+3130-318F, U+AC00-D7A3, U+A960-A97F, U+D7B0-D7FF;
}

@font-face {
  font-family: "DialogNanumBody1984";
  src: url("/fonts/1984-body-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0100-024F, U+1100-11FF, U+3130-318F, U+AC00-D7A3, U+A960-A97F, U+D7B0-D7FF;
}

@font-face {
  font-family: "DialogNanumBody1984";
  src: url("/fonts/1984-body-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0100-024F, U+1100-11FF, U+3130-318F, U+AC00-D7A3, U+A960-A97F, U+D7B0-D7FF;
}

@font-face {
  font-family: "BasicallyAMono";
  src: url("/fonts/basically-a-mono-medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0100-024F, U+1E00-1EFF;
}

@font-face {
  font-family: "BasicallyAMono";
  src: url("/fonts/basically-a-mono-semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0100-024F, U+1E00-1EFF;
}

@font-face {
  font-family: "BasicallyAMono";
  src: url("/fonts/basically-a-mono-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0100-024F, U+1E00-1EFF;
}

@font-face {
  font-family: "Galmuri11";
  src: url("/fonts/galmuri14.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galmuri14";
  src: url("/fonts/galmuri14.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MPlus2Rail";
  src: url("/fonts/mplus2-variable-wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+3000-30FF, U+31F0-31FF, U+4E00-9FFF, U+FF00-FFEF;
}
